* {
    margin: 0;
    padding: 0;
    --light-size: 70px;
    --light-width: calc(var(--light-size) + 30px);
    --light-height: calc(var(--light-width) * 4);
    --light-margins: calc(var(--light-size) / 10);
    --total-width: calc(var(--light-width) * 6);
    font-family: 'Times New Roman', Times, serif;
    --initial-light-color: rgb(25, 25, 25);
}

.click_to_start{
    border: none;
}

.back {
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--total-width);
    height: 500px;
    border-radius: 1rem;
}

.lights {
    background-color: black;
    display: grid;
    place-items: center;
    width: var(--light-width);
    height: var(--light-height);
    border-radius: 1rem;
    position: relative;
}

.red_light {
    background-color: red;
    margin-top: var(--light-margins);
    width: var(--light-size);
    height: var(--light-size);
    border-radius: 50%;
}

.no_light {
    background-color: var(--initial-light-color);
    margin-top: var(--light-margins);
    width: var(--light-size);
    height: var(--light-size);
    border-radius: 50%;
}

.border_2{
    position: absolute;
    z-index: 10;
    width: var(--total-width);
    height: 15px;
    background-color: black;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

.timer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.your_best{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
}

.creator{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}




